.navbar {
    height: var(--nav-height);
    border-bottom: 1px solid var(--border);
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(10, 10, 10, 0.9);
    backdrop-filter: blur(10px);
    z-index: 100;
}

.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    font-weight: 700;
    font-size: 1.5rem;
}

.navLinks {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.navLinks a {
    font-size: 0.95rem;
    color: var(--text-secondary);
    transition: color 0.2s;
}

.navLinks a:hover,
.navLinks a.active {
    color: var(--text-primary);
    text-shadow: 0 0 10px rgba(32, 201, 151, 0.5);
    /* Glowing effect */
}

/* Hamburger Menu */
.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 101;
}

.line {
    width: 30px;
    height: 3px;
    background: var(--text-primary);
    border-radius: 10px;
    transition: all 0.3s linear;
    position: relative;
    transform-origin: 1px;
}

@media (max-width: 768px) {
    .hamburger {
        display: flex;
    }

    .navLinks {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgba(10, 10, 10, 0.95);
        backdrop-filter: blur(10px);
        flex-direction: column;
        align-items: center;
        padding: 1rem 0;
        gap: 1.5rem;
        border-bottom: 1px solid var(--border);

        /* Dropdown Animation state: hidden */
        opacity: 0;
        transform: translateY(-20px);
        pointer-events: none;
        transition: all 0.3s ease;
    }

    .navLinks.open {
        /* Dropdown Animation state: visible */
        opacity: 1;
        transform: translateY(0);
        pointer-events: all;
    }

    .navLinks a {
        font-size: 1.5rem;
    }

    /* Hamburger Animation */
    .hamburger.open .line:nth-child(1) {
        transform: rotate(45deg);
    }

    .hamburger.open .line:nth-child(2) {
        opacity: 0;
        transform: translateX(20px);
    }

    .hamburger.open .line:nth-child(3) {
        transform: rotate(-45deg);
    }
}